<div class="jumbotron">
    {{#each courses}}
    <h1>{{name}}</h1>
</div>
        <table class="table table-bordered">
        {{#each sections}}
            <tr>
                <td><h3>{{name}}</h3></td>
            <tr>
            {{#each this.content}}
                <tr>
                    <td><span class="glyphicon glyphicon-download-alt"></span><a href="/courses/download/{{../../name}}/{{substr this}}">{{substr this}}</a></td>
                </tr>
            {{/each}}

            </tr>
        {{/each}}
        </table>
    {{/each}}
